.card-body{
    display: flex;
    flex-wrap: wrap;
    margin: 5rem;
}
.card-container {
    width: 300px;
    max-height: 500px;
    overflow: hidden;
    box-shadow: 0px 0px 12px -5px;
    transition: 0.3s;
    animation: ease-in-out;
    margin-left: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    border-radius: 10px;
}
.card-container:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 0px;
    border-radius: 10px;
}



.imagen-container{
    overflow: hidden;
    max-height: 200px;
    text-align: center;
}
.card-content{
    margin: 1rem;
    margin-top: 0.5rem;
}
h3{
    margin: 0;
    padding: 0;
}
.card-title{
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}
.text-price{
    margin-top: 2rem;
    color: black;
}
.btn{
    display: flex;
    justify-content: center;
}
.btn .btnDetalle{
    padding: 0.5rem;
    background-color: rgb(220, 220, 220);
    border: none;
    color: rgb(23, 23, 23);
    border-radius: 5px;
    transition: 0.2s;
    margin-top: -2rem;
    margin-bottom: 1rem;
    font-weight: bold;
    text-decoration: none;

}
.btn .btnDetalle:hover{
    background: rgb(169, 169, 169);
}