.card-contenedor{
    width: 700px;
    height: 650px;
    overflow: hidden;
    box-shadow: 0px 0px 15px -5px;
    transition: 0.3s;
    animation: ease-in-out;
    margin-left: 20rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    text-align: center;
    border-radius: 10px;
}
.btnAdd{
    background-color: rgb(29, 29, 29);
}
.butonDetail{
    display: flex;
    justify-content: center;
}
.textCount{
    margin: 1rem;
    padding: 10px;
}

.goCart{
    padding: 0.5rem;
    background-color: rgb(220, 220, 220);
    border: none;
    color: rgb(23, 23, 23);
    border-radius: 5px;
    transition: 0.2s;
    margin-bottom: 1rem;
    text-decoration: none;
    margin-top: 2rem;
}
footer{
    margin-top: 5rem;
}

.goCart:hover{
    background: rgb(169, 169, 169);
}

.buttonCart{
    padding: 0.5rem;
    background-color: rgb(220, 220, 220);
    border: none;
    color: rgb(23, 23, 23);
    border-radius: 5px;
    transition: 0.2s;
    margin-bottom: 1rem;
    font-weight: bold;
    text-decoration: none;
    margin: 1rem;

}
.buttonCart:hover{
    background: rgb(169, 169, 169);
}
