.card-contenedor{
    width: 700px;
    height: 800px;
    overflow: hidden;
    box-shadow: 0px 0px 15px -5px;
    transition: 0.3s;
    animation: ease-in-out;
    margin-left: 20rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    text-align: center;
    border-radius: 10px;
}
.btnAdd{
    background-color: rgb(29, 29, 29);
}
.text-description{
    margin: 1rem;
}